@model IEnumerable<LMS.Views.Books.Index>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.Pages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.Year)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.FullName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Book.Category.Name)
            </td>
            <td class="truncate-description">
                    @Html.DisplayFor(modelItem => item.Book.Description)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Book.ISBN)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Book.Pages)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Book.Year)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Book.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Book.Id" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Book.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
